@import "contactForm";

.section-contact {
  margin-top: 125px;
  position: relative;

  .title {
    p {
      color: #fff;
    }
  }

  .contact-deco {
    display: flex;
    justify-content: center;

    img {
      max-height: 300px;

      margin-left: 75px;
    }
  }
}