.section-welcome {
  height: 930px;

  position: relative;
  display: flex;
  align-items: center;

  .content {
    width: 700px; height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 50px 0;

    border-top: 1px solid #40E0D0;
    border-bottom: 1px solid #40E0D0;
    color: #fff;

    h1 {
      line-height: 0;
      font-size: 70px;
      font-family: 'Ramaraja', sans-serif;

      @media screen and (max-width: 768px) {
        font-size: 50px;
      }

      @media screen and (max-width: 512px) {
        font-size: 40px;
      }
    }

    span {
      margin-top: 10px;

      font-size: 38px;

      @media screen and (max-width: 512px) {
        font-size: 35px;
      }
    }

    button {
      width: 170px; height: 50px;

      margin-top: 30px;

      background: #40E0D0;
      border: none;
      border-radius: 0;
      color: #0B0023;
      font-weight: bold;
      font-size: 18px;
      box-shadow: none;
    }
  }
}