@import "sectionWelcome";
@import "sectionAbout";
@import "sectionContact";

.home {
  width: 100%; height: auto;

  padding-bottom: 150px;
  position: relative;

  opacity: 0;
  animation: 2s ease 2s both running load;
}