@import url('http://fonts.cdnfonts.com/css/ramaraja');

html, body {
  margin: 0; padding: 0;

  background: #0B0023;
  color: #fff;
}

h2 {
  color: #40E0D0;
  font-size: 40px;
  font-weight: 700;
}

.l-btn {
  position: fixed;
  right: 15px; bottom: 15px;

  color: #fff;
  cursor: pointer;
  z-index: 998;
}

.section-bg {
  padding: 75px;

  background-color: #1C0B42;
  border-radius: 10px;
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}