@import url('http://fonts.cdnfonts.com/css/ramaraja');

html, body {
  margin: 0; padding: 0;

  background: #0B0023;
}

.l-btn {
  position: fixed;
  right: 15px; bottom: 15px;

  color: #fff;
  cursor: pointer;
  z-index: 998;
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}