@import "sectionToolbox";
@import "sectionTestimonials";

.about {
  width: 100%;
  height: auto;

  padding-bottom: 150px;
  padding-top: 150px;
  position: relative;

  opacity: 0;
  animation: 2s ease 2s both running load;
}